//*** SCREEN SIZES ***
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

//*** COLORS ***

//Comon
$primaryColor: #008060;
$secondaryColor: #906509;

//Dark
$backgroundDarkColor1: #004c3f;
$backgroundDarkColor2: #002e25;
$textDarkColor1: #42474c;
$textDarkColor2: #42474c;
$warningDarkColor: #c43256;

//Light
$backgroundLightColor1: #fbf7ed;
$backgroundLightColor2: #fff8f6;
$textLightColor1: #6b7177;
$textLightColor2: #6b7177;
$warningLightColor: #c432571f;
