.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding: 2.5em 3em;
  box-shadow: rgba(0, 0, 0, 0.39) 0px 1px 10px; }
  .header li a {
    text-decoration: none;
    color: white; }
  .header :hover {
    color: #00f777; }

.header-list {
  display: flex;
  color: white;
  list-style-type: none;
  justify-content: space-between;
  width: 50%;
  margin: auto; }
